<div class="static-contents contents">
  <p style="font-size: 15pt; text-align:center">
    事故が起こったあのとき、<br />
    みんなはなんて言っていたのか。<br />
    自分はなんて言ってたのか。<br />
    収集し、記録し、後で読み出せるようにしておこう。<br />
  </p>
  <br />
  福島第一原発1号炉が損傷したニュースを聞いたときに、とっさに思いついたのはそれでした。<br />
  <br />
  Twitterの発言はGoogleにも残ります。<br />
  ただ、記録を自分の手元に（できれば再利用が容易な形で）置いておきたいと思い、自らクローラをまわしている人も幾らかいるのではないかと思います。<br />
  これもそのひとつです。<br />
  <br />
  クローラまわさないと、と思いつつ、事故発生後2日くらいはNHKとTwitterにへばりついていました。誰かがやってくれるからいいや、って気もありました。<br />
  でもやはり、自分の手元にデータを残しておきたい。そんなわけで、遅ればせながらクローラをまわしはじめました。<br />
  <br />
  僕はいわゆる原子力災害マニアという生き物で、チェルノブイリをはじめ、あまり表沙汰にはならないけれどあちこちで起こっている原子力関連の事故（もちろん原発事故も含みます）の情報を見たり聞いたりすることに興味がありました。<br />
  そのため、今回のような事故に関する知識が、全く何も知らない人に比べたらほんの少しだけありました。もちろん原子炉や災害対策の専門家の足元にも及ばないことは言わずともがな。まあ戦争そのものは好きじゃないけど戦闘機や戦車に萌えるミリタリーマニアみたいなもんです。<br />
  <br />
  今回も普段の延長線上で趣味的な情報収集を行っていました。今回も普段どおり（安全基準からいえばちょっとばかり深刻な事故で、まともに情報公開が行われずマスコミがブーたれて、だけれど大多数の人には無関係に収束してそのうち忘れ去られる）だと思っていたのですが、違いました。<br />
  今までなかった規模で多くの人に影響が出そうです。<br />
  少なくとも、すべての日本人が一生忘れることはできないでしょうね。<br />
  <br />
  先ほど述べたように、僕は少しだけ原子力災害について知っています。その自分から見て、今回メディアを飛び交っていた情報はとても不気味に思えました。<br />
  まず、テレビで専門家や行政が、安全側にマージンをとった発言をほとんどしないこと。<br />
  <br />
  原発が危険な状態にあるとわかったら、周辺住民にはすぐ避難を促すのが「もしも」の事態を避ける一番確実な方法なのですが、何故か誰もそれを強く言わない。放射能が漏れ出したことがわかったとき、屋内退避を呼びかけていた放送局もありましたね。一般に日本の家屋は気密性が低いので、屋内に留まっていても被爆が増えるだけです。放射能は風に乗って拡散するので、どう頑張っても人間の歩く速度より速く拡散します。災害時なので、最終的には自分の足以外頼れる移動手段はありません。人体にとって危険な量の放射能が漏れ出しているとわかったときは、もう手遅れなんです。メディアも、ついったーで発言してる専門家も、何故かあまりそういうことを言わない。合原氏だけがただひとり、"事故炉周辺30km圏内"の住人の避難を促していました。<br />
  <br />
  次に、専門家や行政の言うことを鵜呑みにして、オレオレ安全宣言を出すついったー民。
  「軽水炉だからメルトダウンしない。チェルノブイリ型とは違う」なんてことを言っている人もいましたが、
  同じ軽水炉であるスリーマイル島原発はメルトダウンしたし、チェルノブイリがメルトダウンしたのは爆発後です。
  「◯◯だから安全」と乏しい根拠で勝手に思い込み安心しようとする、逆集団ヒステリーみたいなものです。
  至近距離なのに逃げない周辺住民の「だってまだなんともなってないし」という発言も見られましたが、自覚症状が出るくらい被爆した時点で、場合によっては手遅れです。そういう発言をしている人は、ただふざけてるだけの非周辺住民であることを願います。<br />
  <br />
  それから、不必要に不安がる事故炉から遠い地域の人々。長期的には確かに何らかの影響があるかもしれませんが、
</div>
