<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="Content-Style-Type" content="text/css"></meta>
    <meta name="description" content="「原発」というキーワードが含まれているツィートを収集しています"></meta>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>原発事故</title>
  </head>
  <body>

    <div id="container">

      <div style="height:30px"></div>

      <div id="header" class="whitebox">
        <a id="logo" href="/">
          <img src="/img/nucplant_logo_header.png" alt="AtomicReactor.or6.jp">    
        </a>
        <ul class="top-navigation round">
          <li><a id="home_link" href="/">ホーム</a></li>
          <li><a id="effect_link" href="/effect">このサイトの趣旨</a></li>
          <li><a id="changes_link" href="/changes">更新情報</a></li>
          <li><a id="statistics_link" href="/statistics">統計情報</a></li>
          <li><a id="find_link" href="/search">「原発」関連のツィートを検索</a></li>
        </ul>
        <div class="clear"></div>
      </div><!-- id="header" -->

      <div style="height:5px; clear:both"></div>

      <div id="contents" class="whitebox">
        <%= yield %>
      </div>

      <div style="height:5px"></div>

      <div class="whitebox" id="footer">
        <h3 class="offscreen">フッター</h3>
        <ul class="footer-nav">
          <li class="first">&copy; 2011 Orfitras</li>
          <li><a href="/about">概要</a></li>
          <li><a href="/about/contact">連絡先</a></li>
          <li><a href="http://blog.or6.jp">ブログ</a></li>
          <li><a href="http://www.or6.jp/business">ビジネス</a></li>
          <li><a href="/support">ヘルプ</a></li>
          <li><a href="/tos">利用規約</a></li>
        </ul>
      </div><!-- id="footer" -->

      <div style="height:30px"></div>

    </div><!-- id="container" -->

  </body>
</html>

